

<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @note.desire_id? %>

    <div class="hidden field">
      <%= f.hidden_field :desire_id, :value => @note.desire_id %>
    </div>

<% end %>


<% if @note.part_id? %>

    <div class="hidden field">
      <%= f.hidden_field :part_id, :value => @note.part_id %>
    </div>

<% end %>


  
  <div class="field">
    <%= f.label :notetext, "Notes" %><br />
    <%= f.text_area :notetext %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
