<% if @note.desire_id? %>

  <p>
    <b><%= @note.desire.desire_type.singularize %>:</b>
    <%= @note.desire.description %>
  </p>

  <%= render 'form' %>
  
  <%= link_to 'Back', project_path(@note.desire.project.id) %>

<% end %>


<% if @note.part_id? %>

  <p>
    <b><%= @note.part.name.pluralize %>:</b>
    <%= @note.part.description %>
  </p>

  <%= render 'form' %>
  
    <%= link_to 'Back', project_path(@note.part.project.id) %>

<% end %>

