<p>

  <% if @controllers.blank? %>
  
    <h2>Controllers</h2>
  
    <blockquote><%= "Controllers are brains. Where are the brains of the operation? Identify a part above (that's inspired by your user stories and business logic) as a controller and you'll see it here. And you'll be able to do some more cool stuff with it." %></blockquote>
    
  <% else %>
  

    <h2>Controllers</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Actions</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @controllers.each do |controller| %>
      <tr>
    
        <td><%= controller.name.pluralize %></td>
          <% if controller.controller_actions.count < 1 %>
            <td>No controller actions!!!</td>
          <% else %>
            <td>
            <% controller.controller_actions.each do |controller_action| %>
              
              <% if controller_action.resource_view.blank? %>
                <%= controller_action.controller_method %> --> <%= "NO VIEW!" %> ...
              <% else %>
                <%= controller_action.controller_method %> --> <%= controller_action.resource_view.resource_url %> ...
              <% end %>
            
          <% end %>
            </td>
    <% end %>
    
        <td><%= link_to "Add/Modify Actions", new_controller_action_path(:current_part_id => controller.id) %></td>
    
        <% if controller.note.blank? %>
            <td><%= link_to " Add Note", new_note_path(:part_id => controller.id) %></td>
        <% else %>
            <td><%= link_to "See Notes", edit_note_path(controller.note.id) %></td>
        <% end %>
    
      </tr>
    <% end %>
  </table>

  <br />


  
  <% end %>
  
</p>

