<p>

  <% if @models.blank? %>
  
    <h2>Models</h2>
  
      <blockquote><%= "Rails is ideal for database-backed web apps. Where's your model that's got your back? Highly recommended that you identify at least one model (inspired by your user stories and business logic) ASAP." %></blockquote>

    
  <% else %>
  

  <h2>Models</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Attributes</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @models.each do |model| %>
    <tr>
      <td><%= model.name.singularize.capitalize %></td>
      <% if model.model_attributes.count < 1 %>
        <td>No attributes!!!</td>
      <% else %>
        <td>
          <% model.model_attributes.each do |attribute| %>
            <%= attribute.name %>:<%= attribute.attribute_type.description %>              
          <% end %>
        </td>
      <% end %>
      
      <td><%= link_to "Add/Modify Attributes", new_model_attribute_path(:current_part_id => model.id) %></td>
      <td><%= link_to "TBD" %></td>
      <td><%= link_to "TBD"%></td>
    </tr>
  <% end %>
  </table>

  <br />



  
  <% end %>
  
</p>

