<p>

  <% if @parts.blank? %>
  
    <h2>Project Parts</h2>

      <p>
        <%= link_to "identify a new part", new_part_url(:project_id => @project.id) %>
        <%= "for your #{@project.name} app inspired by your user stories" %> 
      </p>
  
    <blockquote><%= "Your project parts are the 'things' that bring your app to life and help create something valuable for your users and your business" %></blockquote>
    
  <% else %>
  

  <h2>Project Parts</h2>

  <p>
    <%= link_to "identify a new part", new_part_url(:project_id => @project.id) %>
    <%= "for your #{@project.name} app inspired by your user stories" %> 
  </p>

  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Model</th>
      <th>View</th>
      <th>Controller</th>
      <th>Seed</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @parts.each do |part| %>
    <tr>
      <td><%= part.name.pluralize %></td>
      <td><%= part.description %></td>
      <td><%= yes_or_no part.model_role %></td>
      <td><%= yes_or_no part.view_role %></td>
      <td><%= yes_or_no part.controller_role %></td>
      <td><%= yes_or_no part.seed_role %></td>
      <td><%= link_to "Edit", edit_part_path(part.id) %></td>
      <td><%= link_to "Delete", part, :confirm => "Really want to part ways with your rails part?", :method => :delete %></td>
      <% if part.note.blank? %>
          <td><%= link_to " Add Note", new_note_path(:part_id => part.id) %></td>
      <% else %>
          <td><%= link_to "See Notes", edit_note_path(part.note.id) %></td>
      <% end %>  
    </tr>
  <% end %>
  </table>

  <br />


  
  <% end %>
  
</p>





