<p>

  <% if @models.count < 2 %>
  
    <h1>Associations</h1>
  
      <blockquote>When you identify two or more parts (inspired by your user stories) as models, they'll be listed here, and you can figure out what kind of relationships they have to one another, if any.</blockquote>

    
  <% else %>
  

  <h1>Associations</h1>

      <blockquote>Associations are relationships between different models. (Ex: belongs_to or has_many). In this section, you can identify the associations between different models if there are any.</blockquote>


    <table>
      <tr>
        <th>Model Name</th>
        <th>Model Associations</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @models.each do |model| %>
      <tr>
    
        <td><%= model.name.singularize %></td>
          <% if model.secondary_model_associations.count < 1 %>
            <td>Independent model!!! Flying Solo!!!</td>
          <% else %>
            <td>
            <% model.secondary_model_associations.each do |secondary_model_association| %>
              <%= secondary_model_association.secondary_model.name %> (Type and Name TBD) ...
          <% end %>
            </td>
    <% end %>
    
        <td><%= link_to "Add/Modify Actions", new_model_association_path(:primary_model_id => model.id) %></td>
    
        <% if model.note.blank? %>
            <td><%= link_to " Add Note", new_note_path(:part_id => model.id) %></td>
        <% else %>
            <td><%= link_to "See Notes", edit_note_path(model.note.id) %></td>
        <% end %>
    
      </tr>
    <% end %>
  </table>

  <br />


  
  <% end %>
  
</p>




