<p>

  <% if @views.blank? %>
  
    <h2>Views</h2>
  
      <blockquote><%= "There's no show, if you're not providing anything to see! What will your users see, and how will they see it? As you identify parts (inspired by your user stories and business logic) as views, they will appear here. And you'll have something to see. Oh, the irony. (According to Alanis Morissette's understanding of irony.)" %></blockquote>

    
  <% else %>
  

  <h2>Views</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>URLs</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @views.each do |view| %>
    <tr>
      <td><%= view.name.pluralize %></td>
      <td><%="TBD" %></td>
      <td><%= link_to "Edit" %></td>
      <td><%= link_to "Delete"%></td>
      
      <% if view.note.blank? %>
          <td><%= link_to " Add Note", new_note_path(:part_id => view.id) %></td>
      <% else %>
          <td><%= link_to "See Notes", edit_note_path(view.note.id) %></td>
      <% end %>
      
    </tr>
  <% end %>
  </table>

  <br />


  
  <% end %>
  
</p>







