<%= form_for(@controller_action) do |f| %>
  <% if @controller_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@controller_action.errors.count, "error") %> prohibited this controller_action from being saved:</h2>

      <ul>
      <% @controller_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :part_id %><br />
    <%= f.number_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :controller_method %><br />
    <%= f.text_field :controller_method %>
  </div>
  <div class="field">
    <%= f.label :resource_view_id %><br />
    <%= f.number_field :resource_view_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
