<%= form_for(@model_attribute) do |f| %>
  <% if @model_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model_attribute.errors.count, "error") %> prohibited this model_attribute from being saved:</h2>

      <ul>
      <% @model_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br />
    <%= f.text_field :name %>:<%= f.collection_select :attribute_type_id, AttributeType.all, :id, :description %>
  </div>
  <div class="actions">
    <%= f.submit "Update Model Attribute" %>
  </div>
<% end %>
