<%= form_for(@desire) do |f| %>
  <% if @desire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@desire.errors.count, "error") %> prohibited this desire from being saved:</h2>

      <ul>
      <% @desire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <% if @desire.desire_type == "User Stories" %>
      <%= f.label :description, "As a user, I want to..." %><br />
    <% else %>
      <%= f.label :description, "As a business owner and/or rails app developer, I want to..." %><br />
    <% end %>
    <%= f.text_field :description %><br />
    <br />
    <%= f.label :done, "Completed?" %>
    <%= f.check_box :done %>
  </div>

  <div class="hidden field">
    <%= f.hidden_field :desire_type, :value => @desire.desire_type %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :project_id, :value => @desire.project_id %>
  </div>
  
  <div class="actions">
    <%= f.submit "Proceed with #{@desire.desire_type.singularize}" %>
  </div>
  
<% end %>
