<p>

  <% if @desires.user_stories.blank? %>
  
    <h2>User Stories</h2>

    <p><%= link_to "create new", new_desire_path(:desire_type => "User Stories", :project_id => @project.id) %></p>
  
    <blockquote><%= "No user stories! Create some to give your rails app a clear sense of direction and help you plan it." %></blockquote>
    
  <% else %>
  

  <h2>User Stories</h2>

  <p><%= link_to "create new", new_desire_path(:desire_type => "User Stories", :project_id => @project.id) %></p>

  <table>
    <tr>
      <th></th>
      <th>As a user I want to...</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @desires.user_stories.each do |desire| %>
    <tr>
      
      <% if desire.done == true %>
          <td><%= check_box_tag :desire_id, :yes, true%></td>
      <% else %>
          <td><%= check_box_tag :desire_id %></td> 
      <% end %>
      
        <td><%= desire.description %></td>
        <td><%= link_to "Edit", edit_desire_path(desire.id) %></td>
        <td><%= link_to "Delete", desire, :confirm => "You sure about this?", :method => :delete %></td>
        <td><%= desire.hasnotes? ? link_to "YES", new_note_path(:desire_id => desire.id) : link_to "NO" %></td>
        
        
        <% if desire.notes.blank? %>
            <td><%= link_to "Add_Note", new_note_path(:desire_id => desire.id) %></td>
        <% else %>
            <td><%= link_to "See_Notes", edit_note_path(desire.id) %></td>
        <% end %>
    </tr>
  <% end %>
  </table>

  <br />


  
  <% end %>
  
</p>