<p id="notice"><%= notice %></p>


<p>
  <b>Description:</b>
  <%= @desire.description %>
</p>

<p>
  <b>Desire Type:</b>
  <%= @desire.desire_type %>
</p>

<p>
  <b>Project for Desire:</b>
  <%= @desire.project.name %>
</p>

<p>
  <b>Done:</b>
  <%= @desire.done %>
</p>


<%= link_to 'Edit', edit_desire_path(@desire) %> |
<%= link_to 'Back', desires_path %>
