<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :project_name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mvp_description %><br />
    <%= f.text_field :mvp %>
  </div>
  <div class="field">
    <%= f.label :github_link %><br />
    <%= f.text_field :github %>
  </div>
  <div class="field">
    <%= f.label :heroku_link %><br />
    <%= f.text_field :heroku %>
  </div>
  <div class="field">
    <%= f.label :mockup_link %><br />
    <%= f.text_field :mockup %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
