<h1><%= @project.name %> App</h1>


<% if @desires.blank? %>

  <p>
    <blockquote>Achievement: Congratulations! You've already started creating your rails app by identifying your MVP. Your minimum viable product (MVP) is the heart and soul of your app. It's the most important thing that you want your app to achieve. (The simpler, the better!)</blockquote>
  </p>

  <p>
    <blockquote>Priority: Enter user stories and business logic that relate to your MVP so that you'll know what you specifically want to achieve with your rails app.</blockquote>
  </p>
  
  <% elsif @parts.blank? %>
  
  <p>
    <blockquote>Achievement: Congratulations! You have entered in user stories and/or business logic. This helps clarify exactly what you want to achieve with your app step by step. It also provides a natural checklist of things to do to create your app. And it gives you a sense of what "things" you're dealing with in your app. So it's an important, helpful step that kills a lot of birds with one stone!</blockquote>
  </p>  

  <p>
    <blockquote>Unlocked: "Project Parts" has been unlocked! Now you can identify the different parts of your rails app (inspired by your user stories and business logic) whenever you're ready. You can also specify what roles those parts will play (controller, model, view, and whether seeded).</blockquote>
  </p>  

  <p>
    <blockquote>Priority: Use the information in your user stories and/or business logic to identify the "things" (Project Parts) that your app will deal with and that will bring your app to life. (Ex: Sessions, Houses, Pages, etc.)</blockquote>
  </p>

  <% elsif @parts.count == 1 %>
  
  <p>
    <blockquote>Achievement: Congratulations! You have identified a part of your rails app. Now you can identify even more information about it in your M-V-C View... Which you just unlocked!</blockquote>
  </p>  

  <p>
    <blockquote>Unlocked: "M-V-C View" has been unlocked! This is a listing of your Models-Views-Controllers. As you identify your parts as either models, views, or controllers, they will appear in this view, and you can include even more relevant information about your parts here. (Ex: the attributes of a model.)</blockquote>
  </p>  

  <p>
    <blockquote>Priority: create a clearer sense of your project parts in your M-V-C view.</blockquote>
  </p> 
  
  
  <% else %>

  <p>
    <blockquote>Priority:
    <%= "Develop an awesome rails app that you and others enjoy using." %></blockquote>
  </p>

<% end %>



<p>MVP for <%= @project.name %>: <%= @project.mvp %></p>



<% if @desires.blank? %>

  <%= render "desires/userstories" %>
  <%= render "desires/businesslogic" %>
  
<% elsif @parts.blank? %>

  <%= render "desires/userstories" %>
  <%= render "desires/businesslogic" %>
  <%= render "desires/parts" %>
    
<% else %>

    <%= render "desires/userstories" %>
    <%= render "desires/businesslogic" %>
    <%= render "desires/parts" %>
    
    <h1>M-V-C View for <%= @project.name %> App</h1>    
    <p>As you identify parts (above) as controllers, models, or views, they'll appear here in your M-V-C view for your <%= @project.name %> app.</p>
    <p>Also, in this section you can go into greater detail about your app's parts. You can specify which resources each controller provides, what attributes each model has, and how you will provide your views to your users.</p>
    
    <%= render "desires/controllers" %>
    <%= render "desires/models" %>
    <%= render "desires/views" %>
    <%= render "desires/relationships" %>

    
<% end %>


