<h1><%= @project.name %> </h1>
<h4><%= @project.mvp %></h4>


<p>
  <blockquote><%= @project.achievement_message %></blockquote>
</p>

<p>
  <blockquote><%= @project.priority_message %></blockquote>
</p>

<p>
  <blockquote><%= @project.unlocked_message %></blockquote>
</p>

<%= render "bitbybit" %>






