<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>MVP:</b>
  <%= @project.mvp %>
</p>

<p>
  <b>User Stories:</b>
  <%= link_to "create new", new_desire_path(:desire_type => "User Stories", :project_id => @project.id) %>
  
  <% if @desires.user_stories.blank? %>
    <blockquote><%= "No user stories! Create some to give your rails app a clear sense of direction and help you plan it." %></blockquote>
    
  <% else %>
  
    <% @desires.user_stories.each do |desire| %>
      <ul>
        <li>
          <%= desire.description %>
          <%= check_box_tag desire.done %>
          <%= link_to "Edit", edit_desire_path(desire.id) %>
          <%= link_to "Delete", desire, :confirm => "You sure about this?", :method => :delete %>
        </li>
      </ul>
    <% end %>
  
  <% end %>
  
</p>

<p>
  <b>Business Logic:</b>
  <%= link_to "create new", new_desire_path(:desire_type => "Business Logic", :project_id => @project.id) %>
 
  <% if @desires.business_logic.blank? %>
    <blockquote><%= "Optional but helpful." %></blockquote>
    
  <% else %>
  
    <% @desires.business_logic.each do |desire| %>
      <ul>
        <li>
          <%= desire.description %>
          <%= check_box_tag desire.done %>
          <%= link_to "Edit", edit_desire_path(desire.id) %>
          <%= link_to "Delete", desire, :confirm => "You sure about this?", :method => :delete %>
        </li>
      </ul>
    <% end %>
  
  <% end %>

</p>

<p>
  <b>Parts:</b>
  <%= link_to "Identify a new part", new_part_url(:project_id => @project.id) %>
  <%= "for #{@project.name} based off of your user stories and business logic." %>
  
  <% if @parts.blank? %>
    <blockquote><%= "-- How are you going to create a rails app without any identifiable parts, Sparky? --" %></blockquote>
    
  <% else %>
  
    <% @parts.each do |part| %>
      <ul>
        <li>
          <%= "#{part.name}: #{part.description}" %>
          <%= link_to "Edit", edit_part_path(part.id) %>
          <%= link_to "Delete", part, :confirm => "Really want to part ways with your rails part?", :method => :delete %>
        </li>
      </ul>
    <% end %>
  
  <% end %>


  
</p>

<p>
  <b>Controllers:</b>
  <%= "Identify a part of #{@project.name} as a controller, and you'll see it here." %>
</p>

<p>
  <b>Models:</b>
  <%= "Identify a part of #{@project.name} as a model, and you'll see it here." %>
</p>

<p>
  <b>Views:</b>
  <%= "Identify a part of #{@project.name} as a provided view, and you'll see it here." %>
</p>

<p>
  <b>Relationships:</b>
  <%= "Identify a part of #{@project.name} as a model, and you'll be able to figure out its relationship to other models here." %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
