

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>MVP:</b>
  <%= @project.mvp %>
</p>

<%= render "desires/userstories" %>

<%= render "desires/businesslogic" %>

<%= render "desires/parts" %>

<%= render "desires/controllers" %>

<%= render "desires/models" %>

<%= render "desires/views" %>

<%= render "desires/relationships" %>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
