<h1><%= @project.name %> App</h1>


<p>
  <b>MVP:</b>
  <%= @project.mvp %>
</p>

<% if @desires.blank? %>

  <p>
      <b>Priority:</b>
    <%= "Enter user stories and business logic so that you'll know what you want to achieve with your rails app. In the next step, you'll identify parts of your rails app based off of the user stories and business logic that you enter." %>
  </p>
  
  <% elsif @parts.blank? %>

  <p>
    <b>Priority:</b>
    <%= "You have entered in user stories and/or business logic. Use this information to identify parts of your app and establish them as models, views, or controllers.  This will help you flesh out your MVC view as you go along." %>
  </p>



<% end %>


<% if @desires.blank? %>

  <%= render "desires/userstories" %>
  <%= render "desires/businesslogic" %>
  
<% elsif @parts.blank? %>

  <%= render "desires/userstories" %>
  <%= render "desires/businesslogic" %>
  <h2>Project Parts</h2>  
  <%= render "desires/parts" %>
    
<% else %>

    <%= render "desires/userstories" %>
    <%= render "desires/businesslogic" %>
    <h2>Project Parts ("Things" That Bring Your Project to Life)</h2> 
    <%= render "desires/parts" %>
    <h3>M-V-C View</h3>    
    <%= render "desires/controllers" %>
    <%= render "desires/models" %>
    <%= render "desires/views" %>
    <h4>Associations</h4>
    <%= render "desires/relationships" %>
    
<% end %>





