<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>MVP:</b>
  <%= @project.mvp %>
</p>

<p>
  <b>User Stories:</b>
  <%= link_to "create new", new_desire_path(:desire_type => "User Stories", :project_id => @project.id) %>
</p>

<p>
  <b>Business Logic:</b>
  <%= link_to "create new", new_desire_path(:desire_type => "Business Logic", :project_id => @project.id) %>
</p>

<p>
  <b>Mockup:</b>
  <%= @project.mockup %>
</p>




<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
