<h1>Domain Modeling: Projects at a Glance</h1>

<table>
  <tr>
    <th>Project Name</th>
    <th>Project MVP</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ezprojects.each do |ezproject| %>
  <tr>
    <td><%= link_to ezproject.ezname, ezproject %></td>
    <td><%= ezproject.ezmvp %></td>
    <td><%= button_to 'Edit', edit_ezproject_path(ezproject), :method => :get %></td>
    <td><%= button_to 'Destroy', ezproject, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_ezproject_path %>
