<%= form_for(@resource_view) do |f| %>
  <% if @resource_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_view.errors.count, "error") %> prohibited this resource_view from being saved:</h2>

      <ul>
      <% @resource_view.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" hidden field">
    <br />
    <%= f.hidden_field :part_id, :value => @part.id %>
  </div>
  <div class="hidden field">
    <%= f.hidden_field :project_id, :value => @part.project.id %>
  <div class="field">
    <%= f.label :resource_url, "URL" %> 
    <%= f.text_field :resource_url %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
