<%= form_for(@resource_view) do |f| %>
  <% if @resource_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_view.errors.count, "error") %> prohibited this resource_view from being saved:</h2>

      <ul>
      <% @resource_view.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_id %><br />
    <%= f.number_field :part_id %>
  </div>
  <div class="field">
    <%= f.label :resource_url %><br />
    <%= f.text_field :resource_url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
