
<h2>Create New URL for <%= @part.name.pluralize.capitalize %> resource</h2>

<p>Examples of conventional URLs and their descriptions:</p>

<ul>
  <p>
    <li> 
    <%= "/#{@part.name.pluralize.downcase}" %> </br>
    <%= "provides an index (or listing) of all #{@part.name.pluralize.downcase}" %>
    </li>
  </p>
  <p>
    <li> 
    <%= "/#{@part.name.pluralize.downcase}/new" %> </br>
    <%= "enter details for a new #{@part.name.singularize.downcase}" %>
    </li>
  </p>
  <p>
    <li> 
    <%= "/#{@part.name.pluralize.downcase}/:id/edit" %> </br>
    <%= "edit details of a  #{@part.name.singularize.downcase} that has already been created" %>
    </li>
  </p>
  <p>
    <li> 
    <%= "/#{@part.name.pluralize.downcase}/:id" %> </br>
    <%= "shows the details of a particular #{@part.name.singularize.downcase}" %>
    </li>
  </p>  
  
  
</ul>

<%= render 'form' %>

</br>

<h3>URLs for <%= @part.name.pluralize.capitalize %> resource</h3>

<% @part.resource_views.each do |resource_view| %>
  <p><%= resource_view.resource_url %> : <%= resource_view.description %>
    <%= link_to "Edit", edit_resource_view_path(resource_view.id) %>
    <%= link_to "Destroy", resource_view_path(resource_view.id), :method => "delete", :confirm => "You sure about this?" %>
  </p>

<% end %>

<%= link_to 'Back', project_path(@part.project_id) %>