<!DOCTYPE html>
<html>
<head>
  <title>Ezmodeling</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Rails G Whiz!", ezprojects_url %></h1>
  
<p id="notice"><%= notice %></p>



<%= yield %>

</body>
</html>
